.App-header {
  background-image:linear-gradient(to right, #014bc4, #03287C);
  color: white;
}

@font-face {
  font-family: Porter;
  src: url('./fonts/Porter\ Bold.ttf');
}

@font-face {
  font-family: Nova;
  src: url('./fonts/NOVABOLD.otf');
}
@font-face {
  font-family: Renogare;
  src: url('./fonts/Renogare-Regular.otf');
}

.Nav-bar{
  font-size:3em;
  padding-left:10%;
  padding-top:1%;
  font-family: Porter;
}

.Page-1-title {
  font-size: 10em;
  font-family: Porter;
  padding-left:10%;
  padding-top:10%;
  color:#03287C;
}

.Page-1{
  background: url('./img/DDABackground1.pdf') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position:relative;
  top:-32px;
}

div{
  vertical-align:top;
}

.Page-1-subtext-1{
  position:relative;
  top:-100px;
  color:black;
  font-size:3em;
  padding-left:10%;
}

.Page-1-subtext-2{
  color:white;
  font-size:3em;
  padding-left:10%;
  position:relative;
  top:-150px;
}

.Page-break-1{
  background-image: linear-gradient(to right, #65aed8, #03287C);
  position:relative;
  top:-80px;
  width:100%;
  height:20px;
}

.Page-break-2{
  background-image: linear-gradient(to top, #65aed8, #03287C);
  position:relative;
  width:100%;
  height: 200px;
  align-items:center;
  align-content:center;
  display:flex;
  justify-content:center;
  color:white;
}

.Page-break-3{
  background-image: linear-gradient(to right, #65aed8, #03287C);
  height: 100px;
  width: 100%;
}

.Page-break-text{
  font-size:2em;
  display:block;
  color:white;
  font-family:Renogare;
}

.Page-2{
  background: url('./img/DDABackground2.pdf') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width:100%;
  position:relative;
  top:-80px
}

.Page-3{
  background-image: linear-gradient(to right, white, #eaf5ff);
}

.Page-4{
  background: url('./img/DDABackground4.pdf') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width:100%;
  position:relative;

}

.Centered-div{
  align-items:center;
  align-content:center;
  display:flex;
  justify-content:center;
}

.Contract-image{
  height:5%;
  width:5%;
  margin:0;
}

.Medium-dark-blue-text{
  padding-left:5%;
  font-size:2em;
  color: #03287C;
  text-align:center;
}

.Large-black-text{
  font-size:3em;
  font-family:Renogare;
  color:black;
  text-align:center;
}

.Medium-black-text{
  padding-left:5%;
  font-family:Renogare;
  font-size:2em;
  color: black;
  text-align:center;
}

.Large-dark-blue-text{
  font-size:3em;
  font-family:Renogare;
  color:#03287C;
}

.Small-light-blue-text{
  font-size:1em;
  font-family:Renogare;
  color:#529BBF;
  text-align:center;
}

.Small-dark-blue-text{
  font-size:1em;
  font-family:Renogare;
  color:#03287C;
  text-align:center;
}

.Circle-button{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background: linear-gradient(to bottom right, #65aed8, #03287C);
  border-width:3px;
  border: linear-gradient(to top right, #65aed8, #03287C);
  align-items:center;
  align-content:center;
  display:flex;
  justify-content:center;
}